<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.thingz.bo.mapper.GoodsMapper">

    <resultMap id="GoodsResultMap" type="GoodsDto">
        <id property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsNm" column="goods_nm"/>
    </resultMap>

    <select id="findAll" resultMap="GoodsResultMap">
        SELECT *
        FROM GOODS
    </select>

    <select id="findGoodsById" parameterType="Long" resultMap="GoodsResultMap">
        SELECT *
        FROM GOODS
        WHERE 1 = 1
            AND ID = #{goodsId}
    </select>

</mapper>