<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plateer.aifaq.bo.mapper.PgmMapper">

    <resultMap id="PgmResultMap" type="PgmDto">
        <id property="id" column="id"/>
        <result property="strtDt" column="start_date"/>
        <result property="endDt" column="end_date"/>
        <result property="pgmNm" column="pgm_nm"/>
    </resultMap>

    <select id="findAll" resultMap="PgmResultMap">
        SELECT
            ID,
            PGM_NM,
            START_DATE,
            END_DATE
        FROM PROGRAM
        WHERE 1 = 1
            AND START_DATE &lt;= now()
            AND now() &lt;= END_DATE
    </select>

    <select id="findPgmById" parameterType="Long" resultMap="PgmResultMap">
        SELECT *
        FROM PROGRAM
        WHERE 1 = 1
            AND ID = #{pgmId}
            AND START_DATE &lt; now()
            AND now() &lt;= END_DATE
    </select>

    <select id="findAllByEnd" resultMap="PgmResultMap">
        SELECT *
        FROM PROGRAM
        WHERE 1 = 1
            AND END_DATE &lt;= NOW()
    </select>

    <select id="findAllInFaq" resultMap="PgmResultMap">
        SELECT P.ID,
               P.PGM_NM,
               P.START_DATE,
               P.END_DATE
        FROM PROGRAM P INNER JOIN (SELECT PGM_ID
                                   FROM FAQ_SUMR_INFO FSI
                                   GROUP BY PGM_ID) FSI ON P.ID = PGM_ID
    </select>
</mapper>